.outer-flex-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
}

.inner-flex-container1 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.inner-flex-container2 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.flex-row {
  flex: 100%;
}

.flex-column {
  flex: 100%;
}
