<div class="outer-flex-container">
   <div class="flex-row" style="height: 70px">
      <div class="flex-row inner-flex-container1">
         <span style="width: 180px;">
            <mat-form-field appearance="fill">
               <mat-label style="font-weight: bold;">Network: </mat-label>
               <mat-select [value]="networkSelected" appearance="fill">
                  <mat-option value="mynetwork1">My network 1</mat-option>
                  <mat-option value="mynetwork2">My network 2</mat-option>
               </mat-select>
            </mat-form-field>
         </span>
         <span style="width: 180px;">
            <mat-form-field appearance="fill">
               <mat-label style="font-weight: bold">APN: </mat-label>
               <mat-select value="myapn1">
                  <mat-option value="myapn1">My APN 1</mat-option>
                  <mat-option value="myapn2">My APN 2</mat-option>
               </mat-select>
            </mat-form-field>
         </span>
         <span style="width: 180px;">
            <mat-form-field appearance="fill">
               <mat-label style="font-weight: bold">QoS: </mat-label>
               <mat-select value="myqos1">
                  <mat-option value="myqos1">My qos 1</mat-option>
                  <mat-option value="myqos2">My qos 2</mat-option>
               </mat-select>
            </mat-form-field>
         </span>
         <span style="width: 180px;">
            <mat-form-field appearance="fill">
               <mat-label style="font-weight: bold;">SIM Alias: </mat-label>
               <mat-select [value]="networkSelected" appearance="fill">
                  <mat-option value="mynetwork1">All SIMs</mat-option>
                  <mat-option value="mynetwork2">My SIM 1</mat-option>
               </mat-select>
            </mat-form-field>
         </span>
      </div>
   </div>
   <div class="flex-row" style="height: 70px">
      <div class="inner-flex-container2">
         <span>
            <label style="font-weight: bold; display: block">Transmission: </label>
            <mat-radio-group aria-label="Select an option">
               <mat-radio-button value="1">Downlink</mat-radio-button>
               <mat-radio-button value="2">Uplink</mat-radio-button>
            </mat-radio-group>
         </span>
         <span>
            <label style="font-weight: bold; display: block">Top SIMs Count: </label>
            <mat-slider thumbLabel tickInterval="5" min="5" max="20" step="5" value="20"></mat-slider>
         </span>
         <span>
            <label style="font-weight: bold; display: block">Historical Range: </label>
            <button>&#60;</button>
            <input type="text" value="1 Hour">
            <button>&#62;</button>
         </span>
      </div>
   </div>
   <div class="flex-row">
      <google-chart #chart1 title="Downlink Throughput (SIMs)" [type]="type" [data]="data" [columns]="columnNames"
         [options]="options" [width]="width" [height]="height">
      </google-chart>
   </div>
   <!--
   <div class="flex-row">
      <google-chart #chart2 title="Uplink Throughput (SIMs)" [type]="type" [data]="data" [columns]="columnNames"
         [options]="options" [width]="width" [height]="height">
      </google-chart>
   </div>
   -->
</div>